/*GENERAL*/
header {
    min-height: 500px;
}
.navbar {
    background-color: #2C3E50;
    height: 100px;
}
.jumbotron {
    height: 500px;
}
main {
    min-height: 200px;
}
aside {
    min-height: 200px;
}
/*UTILITIES*/
.bckRed {
    background-color: red;
}
.bckDarkRed {
    background-color: #BA4B63;
}
.bckAcqua {
    background-color: #1ABC9C;
}
.bckLightBlue {
    background-color: #3A546D;
}
.bckDarkBlue {
    background-color: #2C3E50;
}
/*HEADER*/
.navbar-toggler-icon {
    filter: invert(1);
}
/*MAIN*/
main div .h-small {
    height: 100px;
    min-height: 0;
}
main .col-12 {
    min-height: 50px;
}
/*ASIDE*/
aside .row {
    min-height: 570px;
}
/*FOOTER*/
footer {
    height: 200px;
}

