/*GENERAL*/
header {
    min-height: 100px;
}
.navbar {
    background-color: #2C3E50;
    height: 100px;
}
main,aside {
    min-height: 200px;
}
.myJumbotron {
    min-height: 470px;
}
/*UTILITIES*/
.bckRed {
    background-color: red;
}
.bckDarkRed {
    background-color: #BA4B63;
}
.bckAcqua {
    background-color: #1ABC9C;
}
.bckLightBlue {
    background-color: #3A546D;
}
.bckDarkBlue {
    background-color: #2C3E50;
}
/*HEADER*/
.navbar-toggler-icon {
    filter: invert(1);
}
/*JUMBOTRON*/
.segmentStars {
    height: 5px;
}
@media screen and (min-width:768px) {
    .col-12 h1 {
        font-size: 50px;
    }
    .col-12 .textJumbotron p {
        font-size: 25px;
    }
}
@media screen and (min-width:992px) {
    .col-12 h1 {
    font-size: 70px;
   }
    .col-12 .textJumbotron p {
        font-size: 30px;
    }
}
/*MAIN*/
main div .h-small {
    height: 100px;
    min-height: 0;
}
main .col-12 {
    min-height: 50px;
}
/*ASIDE*/
::placeholder {
    color: #2C3E50;
}
/*FOOTER*/
footer {
    min-height: 100px;
}

